################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSDockerTest/MSDockerTest/bin/Debug/net5.0
/MSDockerTest/MSDockerTest/obj
